# Prerequisites
*.d

# IDE config files
minishell_tester
.vscode
*.log
*.json

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Tester
otto_test/diff
otto_test/errors

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.nfs*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
minishell
